footer.page-footer
	.page-footer__inner
		.top-line__address г. Москва м. Курская ул. ... д. 16

		include main-menu

		.top-line__phone +7 (495) 943-35-35

script(src='js/jquery-1.10.1.min.js')
script(src='js/scripts.min.js')
script(src='js/custom.js')