nav.main-menu
    ul.main-menu__list
        li.main-menu__item
            a.main-menu__link(href="#") УСЛУГИ
        li.main-menu__item
            a.main-menu__link(href="#") КЕЙСЫ
        li.main-menu__item
            a.main-menu__link(href="#") О НАС
        li.main-menu__item
            a.main-menu__link(href="#") БЛОГ
        li.main-menu__item
            a.main-menu__link(href="#") КОНТАКТЫ