.page-header
    .page-header__inner
        a(class="page-header__logo", href="/")
            img(src="img/logo.png", alt="", title="")

        .page-header__discount
            a(href="#") Получи скидку!

        .page-header__title Мы разрабатываем продающие сайты и сложные интернет-сервисы

        .page-header__subtitle Специализируемся на детальном проектировании интерфейсов и  организации стабильного канала интернет-продаж