.scopes-block
    .scopes-block__inner
        .scopes-block__left-col
            .scopes-block__item.scopes-block__item--right
                .scopes-block__item-icon
                    img(src="img/icon_test.png" alt="")
                .scopes-block__item-title Responsive design
                .scopes-block__item-text o cumque impedit quo mi- nusquod maxime placeat

            .scopes-block__item.scopes-block__item--right
                .scopes-block__item-icon
                    img(src="img/icon_test.png" alt="")
                .scopes-block__item-title Responsive design
                .scopes-block__item-text o cumque impedit quo mi- nusquod maxime placeat

            .scopes-block__item.scopes-block__item--right
                .scopes-block__item-icon
                    img(src="img/icon_test.png" alt="")
                .scopes-block__item-title Responsive design
                .scopes-block__item-text o cumque impedit quo mi- nusquod maxime placeat

        .scopes-block__center-col
            .scopes-block__preview
                img(src="img/preview.jpg" alt="")

        .scopes-block__right-col
            .scopes-block__item.scopes-block__item--left
                .scopes-block__item-icon
                    img(src="img/icon_test.png" alt="")
                .scopes-block__item-title Responsive design
                .scopes-block__item-text o cumque impedit quo mi- nusquod maxime placeat

            .scopes-block__item.scopes-block__item--left
                .scopes-block__item-icon
                    img(src="img/icon_test.png" alt="")
                .scopes-block__item-title Responsive design
                .scopes-block__item-text o cumque impedit quo mi- nusquod maxime placeat

            .scopes-block__item.scopes-block__item--left
                .scopes-block__item-icon
                    img(src="img/icon_test.png" alt="")
                .scopes-block__item-title Responsive design
                .scopes-block__item-text o cumque impedit quo mi- nusquod maxime placeat